.banner {
    padding: 60px 0;
    background: linear-gradient(95.01deg, #98B0ED 0%, #D3E8FF 48.37%, #CFFFFC 100%);
    border-radius: 40px;
    margin-bottom: 60px;
    min-height: 306px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 120%;
        text-align: center;
        margin: 0 auto;
        color: var(--grey-1);

        max-width: 670px;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 40px;
    }

    &__input {
        width: 320px;
        min-height: 40px;
        padding: 0 20px;
        background-color: #fff;
        border: 1px solid var(--line);
        transition: border 0.2s ease;
        border-radius: 30px;
        margin-right: 20px;

        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: var(--grey-1);

        &::placeholder {
            color: var(--grey-3);
        }

        &:focus,
        &:active {
            border: 1px solid var(--turquoise-1);
            transition: border 0.2s ease;
        }
    }

    &__link {
        margin-top: 40px;
    }
}