.bookmarks {
  display: flex;
  background-color: transparent;

  svg {
    stroke: var(--violet-1);
    fill: transparent;   
  }

  &.saved {
    svg {
      stroke: var(--violet-1);
      fill: var(--violet-1);   
    }
  }

  &--block {
    pointer-events: none;
  }  
}