.button {
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 100px;
    background-color: var(--turquoise-1);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #fff;

    &--subscribe {
        padding: 0 25px;
        background-color: var(--turquoise-4);
        color: var(--turquoise-1);

        margin-right: 25px;
    }

    &--login {
        padding: 0 25px;
        background-color: transparent;
        border: 1px solid var(--turquoise-1);
        color: var(--turquoise-1);
    }
}