.button {
    width: fit-content;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    border-radius: 100px;
    background-color: var(--turquoise-1);
    cursor: pointer;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #fff;

    &--subscribe {
        padding: 0 25px;
        background-color: var(--turquoise-4);
        color: var(--turquoise-1);

        margin-right: 25px;
    }

    &--login {
        padding: 0 25px;
        background-color: transparent;
        border: 1px solid var(--turquoise-1);
        color: var(--turquoise-1);
    }

    &--cancel {
        margin-right: 40px;
        padding: 0;
        min-height: unset;
        background-color: transparent;
        color: var(--grey-3);
    }

    &--filter {
        min-height: 28px;
        padding: 0 15px;
        background-color: var(--violet-2);
        transition: all 0.2s ease;

        &:hover {
            background-color: var(--violet-1);
            transition: all 0.2s ease;
        }
    }
}