.button {
    width: fit-content;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    border-radius: 100px;
    background-color: var(--turquoise-1);
    transition: all 0.2s ease;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #fff;

    &:hover {
        background-color: var(--turquoise-2);
        transition: all 0.2s ease;
    }

    &--subscribe {
        padding: 0 25px;
        margin-right: 25px;
    }

    &--login {
        padding: 0 25px;
        background-color: transparent;
        border: 1px solid var(--turquoise-1);
        color: var(--turquoise-1);
        transition: all 0.2s ease;

        &:hover {
            border: 1px solid transparent;
            background-color: var(--turquoise-4);
            color: var(--turquoise-1);
            transition: all 0.2s ease;
        }
    }

    &--cancel {
        margin-right: 40px;
        padding: 0;
        min-height: unset;
        color: var(--grey-3);
        background-color: transparent;

        &:hover {
            color: var(--grey-2);
            background-color: transparent;
            transition: all 0.2s ease;
        }
    }

    &--filter {
        min-height: 28px;
        padding: 0 15px;
        background-color: var(--violet-1);
        transition: all 0.2s ease;

        & svg {
            fill: #fff;
            margin-left: 10px;
            transition: all 0.2s ease;
        }

        &:hover {
            background-color: var(--violet-2);
            transition: all 0.2s ease;
        }
        &.active svg {
            transform: rotate(180deg);
            transition: all 0.2s ease;
        }
    }

    &--tag {
        min-height: 30px;
        padding: 0 10px;
        background-color: var(--violet-1);
        transition: all 0.2s ease;
        font-weight: 400;

        &:hover {
            background-color: var(--violet-2);
            transition: all 0.2s ease;
        }
    }

    &--reset {
        min-height: unset;
        padding: 0;
        border-radius: none;
        background-color: transparent;
        color: var(--grey-3);
        margin-right: 25px;

        &:hover {
            color: var(--grey-2);
            background-color: transparent;
            transition: all 0.2s ease;
        }
    }

    &--apply {
        min-height: unset;
        padding: 0;
        border-radius: none;
        background-color: transparent;
        color: var(--violet-1);

        &:hover {
            color: var(--violet-2);
            background-color: transparent;
            transition: all 0.2s ease;
        }
    }
}


@media (max-width: 375px) {
    .button {
        &--subscribe {
            padding: 0 20px;
            margin-right: 20px;
        }
    
        &--login {
            padding: 0 20px;
            white-space: nowrap;
        }

        &--tag {
            min-height: 28px;
            font-size: 12px;
        }
    }
}