.course {
    &__tab {
        display: none;

        &--active {
            display: block;
        }
    }

    &__about {
        padding-left: 95px;
        padding-right: 95px;
        display: flex;
    }

    &__info {
        margin-right: 40px;
    }

    &__tags {
        margin-bottom: 25px;
    }

    &__content {
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: var(--grey-1);
            margin: revert;
        }

        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--grey-1);
            margin: revert;
        }

        & ul,
        & ol {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--grey-1);
            margin: revert;
            padding: revert;
        }

        & li {
            list-style: revert;
        }
    }
}


@media (max-width: 767px) {
    .course {
        &__about {
            padding: 0;
            flex-direction: column;
        }

        &__info {
            margin-right: 0;
            margin-bottom: 25px;
        }

        &__content {
            & p,
            & ul,
            & ol {
                font-size: 14px;
            }
        }
    }
}