.dropdown {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        border-radius: 30px;
        border: 1px solid var(--line);
        background-color: #fff;
        padding: 0 15px;
        margin-bottom: 0;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--grey-3);
        white-space: nowrap;
    }

    &__icon {
        fill: var(--grey-1);
    }


    
    &__body {
        // display: none;
        max-height: 0;
        padding: 0;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 15px;
        overflow: hidden;
        
        margin-bottom: 18px;
        transition: all 0.3s ease;
    }

    &__field {
        width: 100%;
        min-height: 40px;
        padding: 0 17px 0 44px;
        margin-bottom: 25px;

        background-color: #fff;
        background-image: url(../img/icon-magnify.svg);
        background-repeat: no-repeat;
        background-position: 17px center;

        border: 1px solid var(--line);
        transition: border 0.2s ease;
        border-radius: 30px;

        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: var(--grey-1);

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            -webkit-appearance: none;
        }

        &::placeholder {
            color: var(--grey-3);
        }

        &:focus,
        &:active {
            border: 1px solid var(--violet-1);
            transition: border 0.2s ease;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &__check {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin-right: 10px;
    }

    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        user-select: none;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--grey-1);
        white-space: nowrap;

        &::before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 2px solid var(--violet-1);
            border-radius: 1px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 90%;
        }
    }

    &__check:checked {

        & + label {
            font-weight: 700;

            &::before {
                background-image: url(../img/check.svg);
            }
        }
    }


    &--active {
        & .dropdown__header {
            margin-bottom: 10px;
            border: 1px solid var(--violet-1);
            transition: all 0.3s ease;
        }

        & .dropdown__icon {
            fill: var(--violet-1);
            transform: rotate(180deg);
        }

        & .dropdown__body {
            max-height: 1000px;
            height: 100%;
            padding: 7px 0;
            background-color: #fff;
            border: 1px solid var(--violet-1);
            transition: all 0.3s ease;
            // display: block;
        }

        & .dropdown__item {
            opacity: 1;
            transition: all 0.3s ease;
        }
    }
}