.form {
    width: 100%;
    padding: 40px 65px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 15px 30px rgba(80, 95, 182, 0.07);
    
    &--end,
    &--confirm {
        padding: 40px;
        text-align: center;
    }

    &__img-box {
        margin: 0 auto;
    }

    &__img {
        width: auto;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        text-align: center;
        color: var(--grey-1);
        margin-bottom: 40px;

        &--margin {
            margin-bottom: 15px;
        }

        &--end,
        &--confirm {
            margin-top: 40px;
            margin-bottom: 10px;
            line-height: 120%;
        }
    }

    &__content {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;

        &--width {
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        &--end,
        &--confirm {
            max-width: unset;
        }
    }

    &__google {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--line);
        margin-bottom: 20px;

        & .wp_google_login__button {
            width: 100%;
            min-height: 40px;
            border-radius: 30px;
            background-color: var(--violet-1);

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            color: #FFFFFF;
        }

        & .wp_google_login__google-icon {
            &::before {
                content: "";
                display: block;
                width: 14px;
                height: 14px;
                margin-right: 10px;
                background-image: url(../img/icon-google.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }

    &__row {
        &:not(:first-of-type) {
            margin-top: 15px;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: var(--grey-1);
    }

    &__field {
        width: 100%;
        min-height: 40px;
        border-radius: 30px;
        border: 1px solid var(--line);
        background-color: var(--background);
        padding: 0 15px;
        margin-top: 10px;
    }

    &__text {
        margin-top: 10px;
        text-align: right;
    }

    &__button {
        margin: 25px auto 0 auto;

        &--end {
            margin: 40px auto 0 auto;
        }

        &--trial {
            width: 100%;
            padding: 0;
            justify-content: center;
        }
    }
}

