.logo {
    display: flex;
    width: 142px;
    min-height: 21px;
    transition: all 0.3s ease;

    &__img {
        height: 100%;
        object-position: left;
    }

    &--nav {
        margin-bottom: 25px;
    }

    &--min {
        width: 23px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;
    }

    &--user {
        width: 140px;
        margin-bottom: 40px;
    }

    &--tariff {
        margin-bottom: 60px;
    }
}