.logo {
    display: flex;

    &__img {
        width: unset;

        &--short {
            width: unset;
        }
    }

    &--nav {
        margin-bottom: 25px;
    }

    &--user {
        width: 140px;
        margin-bottom: 40px;
    }

    &--tariff {
        margin-bottom: 60px;
    }
}