.logo {
    display: flex;
    width: 142px;
    min-height: 21px;
    transition: all 0.3s ease;

    &__img {
        object-position: left;
    }

    &--min {
        width: 24px;
        overflow: hidden;
        margin-left: 7px;
        transition: all 0.3s ease;
    }

    &--user {
        width: 140px;
        margin-bottom: 40px;
    }

    &--tariff {
        margin-bottom: 60px;
    }
}