.nav {
    max-width: 200px;
    max-height: 720px;
    padding: 25px 20px;
    border-right: 1px solid var(--line);

    &__btn {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--violet-4);

        display: flex;
        align-items: center;
        padding-left: 6px;

        &-arrow {
            fill: var(--violet-2);
        }
    }

    &__wrapper {
        margin-top: 15px;
        margin-bottom: 190px;
    }
    
    &__item {
        border-radius: 20px;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &:nth-child(5) {
            position: relative;
            margin-bottom: 21px;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: var(--line);

                position: absolute;
                bottom: -11px;
                left: 0;
            }
        }

        &--active {
            background-color: var(--violet-4);
        }

        &:hover {
            & .nav__text {
                color: var(--violet-1);
                transition: all 0.2s ease;
            }
    
            & .nav__icon {
                fill: var(--violet-1);
                transition: all 0.2s ease;
            }
        }
    }

    &__item-link {
        display: flex;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 18px;
    }

    &__icon {
        margin-right: 8px;
        fill: var(--violet-2);
        transition: all 0.2s ease;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: var(--grey-1);
        transition: all 0.2s ease;
    }

    // Текущая ссылка в навигации
    &__item--active {
        & .nav__text {
            font-weight: 700;
            color: var(--violet-1);
        }

        & .nav__icon {
            fill: var(--violet-1);
        }
    }

    // Неактивная ссылка в навигации
    &__item--disabled {
        pointer-events: none;

        & .nav__text {
            color: var(--grey-3);
        }

        & .nav__icon {
            fill: var(--violet-4);
        }
    }


    // Свёрнутая навигация
    &--minimize {
        padding: 25px 11px 25px 12px;

        & .logo--nav {
            justify-content: center;
        }

        & .nav__btn {
            padding-left: 8px;
            margin: 0 auto;
        }

        & .nav__btn-arrow {
            transform: rotate(180deg);
        }

        & .nav__item-link {
            padding: 8px;
        }

        & .nav__icon {
            margin-right: unset;
        }

        & .nav__text {
            display: none;
        }
        
    }
}