.slider {
    margin-bottom: 60px;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 25px;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: var(--grey-1);
    }

    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: var(--violet-1);
        transition: all 0.2s ease;

        &:hover {
            color: var(--violet-2);
            transition: all 0.2s ease;
        }
    }

    &__btn-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 25px;
    }

    &__btn {
        display: flex;
        background-color: transparent;
    }

    &__btn-prev {
        cursor: pointer;
        fill: var(--violet-1);
        transition: all 0.2s ease;
        margin-right: 15px;

        &:hover {
            fill: var(--violet-2);
            transition: all 0.2s ease;
        }
    }

    &__btn-next {
        cursor: pointer;
        fill: var(--violet-1);

        &:hover {
            fill: var(--violet-2);
            transition: all 0.2s ease;
        }
    }
}

.swiper-button-disabled {
    pointer-events: none;
    fill: var(--violet-3);
}