.social {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &__policy {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: var(--turquoise-1);
        transition: all 0.2s ease;
        margin-bottom: 20px;

        &:hover {
            color: var(--turquoise-2);
            transition: all 0.2s ease;
        }
    }

    &__list {
        display: flex;
        margin-bottom: 20px;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    
    &__icon {
        fill: var(--violet-1);
        transition: all 0.2s ease;

        &:hover {
            fill: var(--violet-2);
            transition: all 0.2s ease;
        }

        &-box {
            display: flex;
        }
    }

    &__mail-link,
    &__phone-link {
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        color: var(--grey-1);
    }

    &__mail-link {
        margin-bottom: 10px;
    }

    &__phone-link {
        margin-bottom: 25px;
    }
}

// Свёрнутая навигация
.nav--minimize {
    & .social__policy,
    & .social__mail-link,
    & .social__phone-link {
        display: none;
    }

    & .social__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .social__link:not(:last-child) {
        margin-right: unset;
        margin-bottom: 15px;
    }
}