.social {
    &__policy {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: var(--turquoise-1);
    }

    &__list {
        display: flex;
        margin: 20px 0;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    
    &__icon {
        fill: var(--violet-2);

        &-box {
            display: flex;
        }
    }

    &__mail-link {
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        color: var(--grey-1);
    }
}