.tariff-card {
    min-height: 230px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--line);
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:hover {
        border: 1px solid transparent;
        box-shadow: 0 15px 30px rgb(0 0 0 / 7%);
        transition: all 0.3s ease;
    }

    &.active {
        background-color: var(--violet-4);
        border: 5px solid var(--violet-1);
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
        transition: all 0.3s ease;
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__duration {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: var(--grey-1);
        margin-bottom: 25px;
    }

    &__discount {
        height: 28px;
        padding: 0 20px;
        background-color: var(--background);
        border-radius: 30px;

        display: flex;
        align-items: center;

        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        color: var(--grey-1);
    }
    
    &__price {
        display: flex;
        margin-bottom: 40px;

        &--left {
            align-items: flex-start;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        &--right {
            align-items: flex-end;
        }
    }

    &__number {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        color: var(--grey-1);
    }

    &__currency {
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
        color: var(--grey-1);
        
        &--left {
            margin-right: 5px;
            margin-top: 5px;
        }
    
        &--right {
            margin-left: 5px;
            margin-bottom: 3px;
        }
    }
    
    &__button {
        font-size: 14px;
        background-color: var(--violet-1);
        align-self: flex-end;
        padding-left: 25px;
        padding-right: 25px;

        &:hover {
            background-color: var(--violet-2);
        }
    }
}

@media (max-width: 767px) {
    .tariff-card {
        min-height: 200px;

        &__duration {
            font-size: 22px;
        }

        &__number {
            font-size: 36px;
        }

        &__currency {
            font-size: 24px;

            &--left {
                margin-top: 3px;
            }
        
            &--right {
                margin-bottom: 1px;
            }
        }

        &__button {
            font-size: 16px;
        }
    }
}