.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--grey-1);

    & a {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        text-align: right;
        color: var(--violet-1);
        transition: all 0.2s ease;

        &:hover {
            color: var(--violet-2);
            transition: all 0.2s ease;
        }
    }

    &--subform {
        margin-top: 25px;
    }

    &--back {
        
        & a {
            display: flex;
            align-items: center;
        }

        & svg {
            fill: var(--violet-1);
            margin-right: 10px;
        }
    }

    &--size {
        font-size: 16px;
        line-height: 120%;
        text-align: center;
    }
}