:root {
    --violet-1: #505FB6;
    --violet-2: #7B87C8;
    --violet-3: #A7AFDA;
    --violet-4: #DCDFF0;
    --turquoise-1: #007474;
    --turquoise-2: #409797;
    --turquoise-3: #80B9B9;
    --turquoise-4: #BFDCDC;
    --green-1: #006A4E;
    --green-2: #408F7A;
    --green-3: #80B4A7;
    --green-4: #BFDAD3;
    --grey-1: #31333C;
    --grey-2: #64666D;
    --grey-3: #98999D;
    --grey-4: #D6D6D8;
    --line: #E1E3EE;
    --background: #F8F9FF;
}

html.block {
    overflow: hidden;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: var(--background);
}

.hidden {
    display: none !important;
}